body{
    font-family: "Xanh Mono", monospace ;
    font-optical-sizing: auto;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
    font-style: normal;
    margin: 0;
    background-color: #90ff8c;

}
nav{
    margin:0 auto;
    margin-bottom: 10px;
    margin-left: -10px;
    width: 100%;
    box-sizing: border-box;
    line-height: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    border-bottom: 3px solid rgb(0, 0, 0);
    z-index: 1000;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    color:black;
    font-weight: bold;
}
nav a:hover {
    color:rgb(204, 255, 191);
}


main h1 {
    text-align: center;
    font-size: 33px;
    margin-bottom: 5px;
    color:rgb(0, 0, 0);
}
main h2{
    margin-top: 0px;
    margin: bottom ;
    text-align: center;
    font-size: 22px;

    color:rgb(0, 0, 0);
}
h4{
    text-align: center;
    padding-bottom: 0px;
}

.collum{
    display: grid;
    grid-template-columns: auto auto ;
    max-width: 100%;
   
}
.collum img{
    display: block;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-left: 0px;
    padding-bottom: 80px;
    
    
}

main figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
header figcaption{
    margin-top: -10px;
    padding-left: 0px;
    text-align: center;

}
@media (max-width: 500px) {
    nav{
    margin:0 auto;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 100%;
    box-sizing: border-box;
    line-height: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    border-bottom: 3px solid rgb(0, 0, 0);
    z-index: 1000;
}

}