body{
    font-family: "Xanh Mono", monospace ;
    font-optical-sizing: auto;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
    font-style: normal;
    margin: 0;
    background-color: #90ff8c;

}
nav{
    margin:0 auto;
    margin-bottom: 10px;
    margin-left: -10px;
    width: 100%;
    box-sizing: border-box;
    line-height: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    border-bottom: 3px solid rgb(0, 0, 0);
    z-index: 1000;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    color:black;
    font-weight: bold;
}
nav a:hover {
    color:rgb(204, 255, 191);
}
#wrapper {
   
    margin-top: 0px;
    float: left;
    width: 100%;
    margin-left: 50px;
}

.collums{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
    gap: 10px;
}
.collums img{
    display: block;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-left: 0px;
    
    
}
.collums h3{
    padding-top: 30px;
    display: block;
    width:100%;
    height: auto;
    font-size: 22px;
    padding-right: 20px;
    padding-left: 50px;
}
.collums p{
    padding-top: 30px;
    display: block;
    width: 80%;
    height: auto;
    
}
figcaption{
    margin-top: 5px;
    padding-left: 0px;

}
header h1 {
    text-align: right;
    font-size: 33px;
    margin-bottom: 5px;
    color:rgb(0, 0, 0);
}
header h2{
    margin-top: 0px;
    margin: bottom ;
    text-align: right;
    font-size: 22px;

    color:rgb(0, 0, 0);
}
header h4{
    margin-top: -20px;

}
@media (max-width: 500px) {
    nav{
    margin:0 auto;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 100%;
    box-sizing: border-box;
    line-height: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    border-bottom: 3px solid rgb(31, 168, 104);
    z-index: 1000;
}
    #wrapper {
    margin-top: 0px;
    float: left;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}

    .collums{
    display: grid;
    grid-template-columns: auto ;
    max-width: 100%;
    
}
.collums img{
    display: block;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-left: 0px;
    
    
}
.collums h3{
    padding-top: 20px;
    display: block;
    width:100%;
    height: auto;
    font-size: 22px;
    padding-right: 20px;
    padding-left: 20px;
}
.collums p{
    padding-top: 20px;
    display: block;
    width: 100%;
    height: auto;
    padding-left: 20px;
    
}
}