body {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    /*  background-image: linear-gradient( #000000, #f07bd1);*/
    background-color: #000000;
    text-decoration: none;
}


/* Title Page*/
.background img {
    background-image: url(assets/image/Title-PO.png);
    background-image: url(assets/image/Title-fence_PO.png);
    position: absolute;
    height: 98%;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;


}

#button {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 40px;
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%);
    background-color: #bedad9;
    color: #000000;
    border: 2px solid #000000;
}

#button:hover {
    background-color: #360568;
    color: #ff1b1b;
    border: 2px solid #ffe11b;
}


#textNeed {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    position: absolute;
    display: none;
    text-align: center;
    font-size: 110px;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e4f0ef;

    background-color: rgba(190, 218, 217, 0);
    color: rgb(0, 0, 0);

}

.aftertext {
    display: none;
}

.texthover:hover .beforetext {
    display: none;
}

.texthover:hover .aftertext {
    display: contents;
    color: #000000;
}

.path button,
.beforetext,
.aftertext {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 35px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    gap: 10px;
    background-color: rgba(190, 218, 217, 0);
    color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
}

/*
.aftertext {
    
    display: none;
    
}

.texthover:hover .beforetext {
    
    display: none;
    
}

.texthover:hover .aftertext {
    
    display: contents;
    color: #000000;
}

.beforetext, .aftertext , .path button{
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 35px;
    position: relative;
    display: flex;
    font-size: 35px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    top: 220px;
    background-color: rgba(190, 218, 217, 0);
    color: rgb(0, 0, 0,0);
    border: 2px solid rgba(0, 0, 0, 0);
}
*/

/* Privacy condition Page*/
#privacy {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    justify-items: center;
    text-align: center;
    position: relative;
}

header h1 {
    position: flex;
    justify-items: center;
    font-weight: 400;
    font-size: 80px;
    color: #ffe11b;


}

#button2 {
    position: relative;
    position: flex;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 15px;
    top: -50px;
    background-color: rgba(190, 218, 217, 0);
    color: #360568;
    border: rgba(190, 218, 217, 0);
    text-decoration: underline;

}

/* img*/
#background2 {
    position: relative;
    display: flex;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    justify-content: center;
    z-index: -1;
}

#answer1 {
    position: relative;
    display: flex;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 80px;
    top: -477px;
    background-color: rgba(190, 218, 217, 0);
    color: #ffe11b;
    border: rgba(190, 218, 217, 0);
    text-decoration: none;
}

#answer2 {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 30px;
    top: -460px;
    text-decoration: none;
    color: #ad63f8;
    background-color: rgba(190, 218, 217, 0);

    border: rgba(190, 218, 217, 0);
}

#answer2:hover,
#button2:hover {
    color: #ffe11b;
    filter: blur(0px);
}

#answer1:hover,
#understand:hover {
    color: #ff1b1b;
}




#condition {

    display: none;
    position: relative;

    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    top: -480px;

    color: #ff1b1b;
}

#understand {
    position: relative;
    display: none;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    top: -342px;
    left: 115px;
    background-color: rgba(190, 218, 217, 0);
    color: #ffe11b;
    border: rgba(190, 218, 217, 0);
    text-decoration: none;
}

/*CArds PAGE */
#Text1 {
    position: relative;
    display: flex;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 60px;
    top: 100px;
    color: #ff1b1b;
    justify-content: center;
    text-align: center;
}

#Text2 {
    position: relative;
    display: flex;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 40px;
    top: 100px;
    color: #bedad9;
    justify-content: center;
    text-align: center;
}

#Purchase {
    position: relative;
    display: flex;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 100px;
    top: 720px;
    color: #ffe11b;
    justify-content: center;
    text-align: center;
}

#background3 {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    /*margin-top: 3%;*/
    width: 1000px;
    margin-top: -120px;
    z-index: -1;
    /*add frame border-image:url(); */

}


/*Explanation PAGE */

#Explanation {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #bedad9;
    position: relative;

    font-size: 100px;

}

#p {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #bedad9;
    position: relative;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
    top: 50px;
}

#p2 {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #bedad9;
    position: relative;
    margin: 20px auto;
    font-size: 30px;
    top: 120px;
}