/*Main-page */
body {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    /*  background-image: linear-gradient( #000000, #f07bd1);*/
    background-color: #000000;
    /*
    background-image: url(../assets/image/Main-page_0.png);
    background-size: 60%;
    background-position: top;
    background-repeat: no-repeat;
*/

}

#background3 {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    /*margin-top: 3%;*/
    width: 75%;
    margin-top: -20%;
    z-index: -1;
    /*add frame border-image:url(); */

}

#card {
    position: relative;
    display: block;
    text-align: center;
    top: 800px;
    font-size: 30px;
    color: aliceblue;
    /*background-color: aquamarine;
    padding-top: 100px;
    padding-bottom: 100px;*/

}

#cardimg {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    top: 400px;
    
    width: 200px;
}

#text- {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    top: 70px;
    justify-content: center;
    color: #16021d;
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: #ffffff9c;
}

.cards {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.cards figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
    top: 380px;

}

.cards img {

    width: 100%;
    /*transition: transform 0.3s ease, opacity 0.3s ease;*/
}

.cards figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
    
}

.im1 {
    grid-column: 1/3;
 

}

.im2 {
    grid-column: 3/5;
    
}

.im3 {
    grid-column: 5/7;
    
}

.im4 {
    grid-column: 7/9;
    
}