/*Main-page */
body {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    /*  background-image: linear-gradient( #000000, #f07bd1);*/
    background-color: #000000;
    background-image: url(assets/image/Main-page_0.png);
    background-size: 60%;
    background-position: top;
    background-repeat: no-repeat;
    
    
}
#card{
    position: relative;
    display: block;
    text-align: center;
    top: 500px;
    font-size: 30px;
    color:aliceblue;
}