
/*QUIZ PAGE */
html {
  box-sizing: border-box;
} 

/* ?? */
body {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    /*  background-image: linear-gradient( #000000, #f07bd1);*/
    background-color: #ffffff;
    text-decoration: none;
}

/*add sword */


#frame{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    /*margin-top: 3%;*/
    width: 1000px;
    top: -1080px;
  /*add frame border-image:url();
    border-image-repeat: stretch;
    border-style:groove; */
     border-image-source: url('../assets/image/frame_oracle2.png') ;
     border-image-width: 100px;
     border-image-slice: 120;
     border-image-repeat: stretch;
     border-image-outset: 5px;
     z-index: -1;
}
#background3{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    /*margin-top: 3%;*/
    width: 1000px;
    top: -2320px;
     z-index: -2;
}

header {
  display:flex;
  height: 100px;
}
#construction{
    position:relative;
    display: none;
    justify-content: center;
    color: #fc0000;
    
    text-decoration: none;
    z-index: 2;
}

#quiz {
    font-weight: 400;
    font-size: 45px;
    position:relative; 
    display: none;
    justify-content: center;
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00000077;
    top: 500px;
    left: 5px;
    text-decoration: none;
    z-index: 2;
}
#sword {
    position:relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    top: -4050px;
    left: 20px;
    width: 150px;
    z-index: 2;
    
}


/*
*,
*:before,
*:after {
  box-sizing:initial;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color:#fff;
  line-height: 1.7rem;
    background-color: black;
  /*background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );*//*
 
}

body::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 9999999;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
*/
.quiz-container {
  display: flex;
  position: relative;
border-radius:10px;
  text-shadow: 1px 1px white;
  padding: 3rem;
  text-shadow: 0 1px #00000010;
  
  
  margin: 5rem auto;
  
  flex-direction: column;
  /*background: #ffffff0d;*/
  min-height: 100vh;
}
.title {
  display: none;
  position: relative;
  margin-top: 0;
  margin-bottom: 3rem;
  color: #00ff66;
  font-family:'vt323';
  font-weight:bold;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing:4px;
  text-align: center;
  
  z-index: 3;
}
.question {
  display: none;
  position: relative;
  margin: 2rem 0;
  font-size: 1.5rem;
  
  color:#00ff66;
  
  letter-spacing:1px;
  z-index: 3;
}
.option {
  display: flex;
  position: relative;
  padding: 1rem;
  color: #fff;
  background: #000;
  top: 8100px;
  border-radius: 5px;
  z-index: 3;
  transition: all 0.3s;
}
.option:hover {
  background: rgba(255, 255, 255, 0.4);
}
.option input:checked .option {
  background: #08038c;
  color: #000;
}
.controls{
  display: none;
  position: relative;
}
.controls > * {
  margin: 1rem;
}
button {
  display: flex;
  position: relative;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-weight: 300;
  color: white;
  outline: none;
  transform: scale(0.98);
  transition: all 0.2s;
}
button.previous {
  background: #c84630;
}
button.next {
  background: #3c91e6;
}
button.restart {
  background: #0cf574;
  color: #00000050;
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: all 0.4s;
}
button.restart:hover {
  color: #00000098;
}
button:hover,
button:focus {
  transform: scale(1);
  font-weight: 500;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.result {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  min-height: 100vh;
}
.final-score {
  color: #00000099;
}
.summary {
  font-size: 1rem;
  display: flex;
  position: relative;
  text-shadow: 1px 1px #ffffff50;
  color: #00000099;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.summary h1 {
  align-self: center;
}

/* code from  OLD codepen/
.question, #result {
    position: relative;
    display: none;
    color: #bedad9;
    z-index: 2;
    }

.button li {
    position: relative;
    border: 1px solid;
    border-radius: 3px;
    font-size: 20px;
    background-color: #eee;
    text-align: center;
    line-height: 2em;
    padding: 0.5em;
    margin: 0.5em;
    width: 80%;
    margin: 0 auto;
    color: #000000;
    z-index: 2;
}

.button li:hover {
    color: #bfbfbf;
    background-color: #555;
    z-index: 2;
}

#intro, .question, #result {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    z-index: 2;
    color: #bedad9;
}
*/