/*QUIZ PAGE */
html {
  box-sizing: border-box;
}

/* ?? */
body {
  font-family: "Jacquard 12", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  /*  background-image: linear-gradient( #000000, #f07bd1);*/
  background-color: #000000;
  text-decoration: none;
}

/*add sword */
#background3 {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  /*margin-top: 3%;*/
  width: 1000px;
  margin-top: 0px;
  z-index: -1;
  /*add frame border-image:url(); */

}

#construction {
  position: relative;
  display: none;
  font-weight: 400;
  font-size: 23px;
  left: 15px;
  justify-content: center;
  color: #ffe11b;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #36056855;
  top: 900px;
  text-decoration: none;
  z-index: 2;
}

#quiz {
  font-weight: 400;
  font-size: 45px;
  position: relative;
  display: none;
  justify-content: center;
  color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00000077;
  top: 500px;
  left: 5px;
  text-decoration: none;
  z-index: 2;
}

#sword {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  top: -250px;
  left: 20px;
  width: 150px;
  z-index: 2;

}