body {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
   /*  background-image: linear-gradient( #000000, #f07bd1);*/
    background-color: #000000;

}

/* Title Page*/
.background img {
    background-image: url(assets/image/Title-\ PO.png);
    background-image: url(assets/image/Title-fence\ PO.png);
    position:absolute;
    height: 98%;
    left: 50%;
    transform: translate(-50%);


}
.background button  {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 35px;
    position:absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%);
    background-color: #bedad9;
    color: #000000;
    border: 2px solid #000000;
}
.background button:hover{
    background-color: rgb(255, 199, 255);
    color: #ffffff;
    border: 2px solid #ffffff;
}


.path h1{
   font-family: "Jacquard 12", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   position:absolute;
   font-size: 35px;
   top: 38%;
   left: 50%;
   transform: translate(-50%);
   padding-bottom: 10px;
   background-color: rgba(190, 218, 217, 0);
   color:rgba(0, 0, 0, 0);
   
}
.aftertext {
  display:none;
}
.texthover:hover .beforetext {
  display:none;
}
.texthover:hover .aftertext{
    display: contents;
    color: #000000;
}
.path button,.beforetext, .aftertext {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 35px;
    position:absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    gap: 10px;
    background-color: rgba(190, 218, 217, 0);
    color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
}

/* Privacy condition Page*/
.privacy{
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    
}
.privacy img {
    background-image: url(assets/image/privacy-block3.png);
    
    position:absolute;
    height: 98%;
    left: 50%;
    transform: translate(-50%);

}
.privacy h1 {
    position:absolute;
    font-weight: 400;
    font-size: 60px;
    
    left: 35%;
    right: 30%;
    top: 30%;
}
.privacy button{
    position:absolute;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 15px; 
    left:45%;
    top: 42%;
    background-color: rgba(190, 218, 217, 0);
    color:#bedad9;
    border: rgba(190, 218, 217, 0);
    text-decoration: underline;
    
    
}
.answers button {
    position:absolute;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 50px;
    top: 55%;
    left: 37%;
    background-color: rgba(190, 218, 217, 0);
    color:#000000;
    border: rgba(190, 218, 217, 0);
    text-decoration: none;
}
.answers .no {
    left: 56%;
    position:absolute;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 50px;
    top: 55%;
    text-decoration: none;
    color:#bedad9;
    background-color: rgba(190, 218, 217, 0);

    border: rgba(190, 218, 217, 0);
}
.answers,.privacy button:hover { 
    color:#f57ed5;
}
.condition img {
    background-image: url(assets/image/privacy-block3.png);
    
    position:absolute;
    height: 98%;
    left: 50%;
    transform: translate(-50%);

}
.condition p {
    display: none;
    position:absolute;
    font-weight: 400;
    font-size: 12px;
    
    left: 35%;
    right: 35%;
    top: 49%;
    color:rgba(190, 218, 217, 0);
}
.condition .understand {
    position:absolute;
    display: none;
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 30px;
    top: 55%;
    left: 37%;
    background-color: rgba(190, 218, 217, 0);
    color:rgba(190, 218, 217, 0);
    border: rgba(190, 218, 217, 0);
    text-decoration: none;
}
.condition button:hover { 
    color:rgba(190, 218, 217, 0);
}
