body {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
   /* background-image: linear-gradient( #000000, #f07bd1);*/
    background-color: #000000;

}

#wrapper {
    
    
}
.background img {
    background-image: url(assets/image/Title-\ PO.png);
    background-image: url(assets/image/Title-fence\ PO.png);
    position:absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%);


}
.background button {
    font-family: "Jacquard 12", system-ui;
    font-size: 35px;
    font-optical-sizing: auto;
    font-weight: 400;
    position:absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(227, 255, 248);
    color: #000000;
    border: 2px solid #000000;
}
.background button:hover{
    background-color: rgb(255, 199, 255);
    color: #ffffff;
    border: 2px solid #ffffff;
}

