body {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
   /* background-image: linear-gradient( #000000, #f07bd1);*/
    background-color: #000000;

}

#wrapper {
    
    
}
.background img {
    background-image: url(assets/image/Title-\ PO.png);
    background-image: url(assets/image/Title-fence\ PO.png);
    position:absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%);


}
.background button  {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 35px;
    position:absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%);
    background-color: #bedad9;
    color: #000000;
    border: 2px solid #000000;
}
.background button:hover{
    background-color: rgb(255, 199, 255);
    color: #ffffff;
    border: 2px solid #ffffff;
}


.path h1{
   font-family: "Jacquard 12", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   position:absolute;
   font-size: 35px;
   top: 38%;
   left: 50%;
   transform: translate(-50%);
   padding-bottom: 10px;
   background-color: rgba(190, 218, 217, 0);
   color:rgba(0, 0, 0, 0);
   
}
.aftertext {
  display:none;
}
.texthover:hover .beforetext {
  display:none;
}
.texthover:hover .aftertext{
    display: contents;
    color: #000000;
}
.path button,.beforetext, .aftertext {
    font-family: "Jacquard 12", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 35px;
    position:absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    gap: 10px;
    background-color: rgba(190, 218, 217, 0);
    color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
}


